<?xml version="1.0" encoding="utf8" ?>
<servlets>
    <servlet>
        <className>me.nnero.servlet.impl.MyServlet</className>
        <path>/servlet/hello</path>
    </servlet>
    <servlet>
        <className>me.nnero.servlet.impl.NiceServlet</className>
        <path>/haha</path>
    </servlet>
</servlets>